
.icon-bookmark:before { content: '\e800'; } /* '' */
.icon-bookmark-1:before { content: '\e801'; } /* '' */
.icon-bookmark-2:before { content: '\e802'; } /* '' */
.icon-heart:before { content: '\e803'; } /* '' */
.icon-phone:before { content: '\e804'; } /* '' */
.icon-network:before { content: '\e805'; } /* '' */
.icon-chart-bar-outline:before { content: '\e806'; } /* '' */
.icon-chart-bar:before { content: '\e807'; } /* '' */
.icon-emo-wink:before { content: '\e808'; } /* '' */
.icon-emo-devil:before { content: '\e809'; } /* '' */
.icon-emo-surprised:before { content: '\e80a'; } /* '' */
.icon-heart-empty:before { content: '\e80b'; } /* '' */
.icon-star:before { content: '\e80c'; } /* '' */
.icon-home:before { content: '\e80d'; } /* '' */
.icon-feather:before { content: '\e80e'; } /* '' */
.icon-star-empty:before { content: '\e80f'; } /* '' */
.icon-thumbs-up:before { content: '\e810'; } /* '' */
.icon-link-1:before { content: '\e811'; } /* '' */
.icon-emo-laugh:before { content: '\e812'; } /* '' */
.icon-left-hand:before { content: '\e813'; } /* '' */
.icon-up-hand:before { content: '\e814'; } /* '' */
.icon-down-hand:before { content: '\e815'; } /* '' */
.icon-right-hand:before { content: '\e816'; } /* '' */
.icon-up-big:before { content: '\e817'; } /* '' */
.icon-right-big:before { content: '\e818'; } /* '' */
.icon-left-big:before { content: '\e819'; } /* '' */
.icon-down-big:before { content: '\e81a'; } /* '' */
.icon-heart-empty-1:before { content: '\e81b'; } /* '' */
.icon-star-1:before { content: '\e81c'; } /* '' */
.icon-star-empty-1:before { content: '\e81d'; } /* '' */
.icon-search:before { content: '\e81e'; } /* '' */
.icon-mail:before { content: '\e81f'; } /* '' */
.icon-camera:before { content: '\e820'; } /* '' */
.icon-music:before { content: '\e821'; } /* '' */
.icon-download:before { content: '\e822'; } /* '' */
.icon-upload:before { content: '\e823'; } /* '' */
.icon-heart-1:before { content: '\e824'; } /* '' */
.icon-rss-alt:before { content: '\e825'; } /* '' */
.icon-rss:before { content: '\e826'; } /* '' */
.icon-cog:before { content: '\e827'; } /* '' */
.icon-monument:before { content: '\e828'; } /* '' */
.icon-down-hand-1:before { content: '\e829'; } /* '' */
.icon-right-hand-1:before { content: '\e82a'; } /* '' */
.icon-key:before { content: '\e82b'; } /* '' */
.icon-crown:before { content: '\e844'; } /* '' */
.icon-math:before { content: '\f01a'; } /* '' */
.icon-link:before { content: '\f07b'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-export-alt:before { content: '\f14d'; } /* '' */
.icon-thumbs-up-alt:before { content: '\f164'; } /* '' */
.icon-qq:before { content: '\f1d6'; } /* '' */
.icon-wechat:before { content: '\f1d7'; } /* '' */
.icon-picasa:before { content: '\f345'; } /* '' */